@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .catalog-boxes {
    @apply w-56 h-56 bg-slate-400 rounded-[18px]
  }
}

@font-face {
  font-family: "Kyiv";
  src: url("./fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Regular3.otf");
}

@font-face {
  font-family: "Old";
  src: url("./fonts/OldStandardTT-Regular.ttf");
}

@font-face {
  font-family: "Miama";
  src: url("./fonts/Miama.ttf");
}

